backend/config/__pycache__/email_assistant.cpython-310.pyc
.env
# Ignore Python cache files
__pycache__/
/*.pyc
*.pyo
*.pyd
# SQLite DB
db.sqlite3

# Static files
/staticfiles/
/backend/staticfiles/
/chroma_db/
*.sqlite3
*.pickle
*.bin
email_cache/